<p id="notice"><%= notice %></p>

<h1>Meus Serviços</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @my_tasks.empty? %>
    <tr>
      <td colspan="5" style="text-align: center"><h3>Nenhum serviço feito.</h3></td>
    </tr>
    <% end %>
    <% @my_tasks.each do |my_task| %>
      <tr>
        <td><%= my_task.task_name %></td>
        <td><%= my_task.valor %></td>
        <td><%= link_to 'Detalhes', my_task, class: 'btn waves-effect waves-light z-depth-4' %></td>
        <td><%= link_to 'Editar', edit_my_task_path(my_task), class: 'btn waves-effect waves-light z-depth-4' %></td>
        <td><%= link_to 'Deletar', my_task, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn waves-effect waves-red z-depth-4' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to  new_my_task_path, class: 'btn-floating btn-large waves-effect waves-circle waves-light z-depth-4' do %>
  <i class="material-icons">add</i>
<% end %>

<%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'btn waves-effect waves-light z-depth-4' %>
<%= link_to 'Voltar', menu_index_path, class: 'btn waves-effect waves-light z-depth-4' %>
